.navbar-nav > li > a {
    padding-top:15px !important;
    padding-bottom:15px !important;
}
.navbar {
    border-radius: 0;
    min-height:40px !important;
    border: none;
    margin-bottom: 0!important;
}
.nav.navbar-nav {
    margin: 0!important;
}
.jumbotron{
    height: calc(100vh - 50px);
    background-color: transparent;
    text-align: center;
    padding: 150px 20px 0 20px;
}
.picture-of-me {
    border-radius: 50%;
    width: 150px;
    border: 2px solid #DDD;
}
#header-content {
    color: white;
}
.btn-white-outline {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 0;
    width: 200px;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
.btn-white-outline:hover, .btn-white-outline:focus, .btn-white-outline:active, .btn-white-outline.active{
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid white;
}
.btn-white-outline:active, .btn-white-outline.active, .btn-white-outline:hover:active {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: none;
    border: 1px solid white;
}
.call-to-action {
    margin: 50px 0;
}
