body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.navbar-nav > li > a {
    padding-top:15px !important;
    padding-bottom:15px !important;
}
.navbar {
    border-radius: 0;
    min-height:40px !important;
    border: none;
    margin-bottom: 0!important;
}
.nav.navbar-nav {
    margin: 0!important;
}
.menu-item {
    cursor: pointer;
}
.jumbotron{
    height: 100vh;
    min-height: 600px;
    background-color: transparent;
    text-align: center;
    padding: 150px 20px 0 20px;
}
.picture-of-me {
    border-radius: 50%;
    width: 150px;
    border: 2px solid #DDD;
}
#header-content {
    color: white;
}
.btn-white-outline {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 0;
    width: 200px;
}
.btn-black-outline {
    background-color: transparent;
    border: 1px solid black;
    color: black;
    border-radius: 0;
    width: 200px;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
.btn-white-outline:hover, .btn-white-outline:focus, .btn-white-outline:active, .btn-white-outline.active{
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid white;
}
.btn-white-outline:active, .btn-white-outline.active, .btn-white-outline:hover:active {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: none;
    border: 1px solid white;
}
.call-to-action {
    margin: 50px 0;
}
.section-title {
    margin-top: 80px;
    margin-bottom: 80px;
}
.section-title h2 {
    font-size: 40px;
}
.section-title p {
    font-size: 21px;
    font-weight: 200;
}
#features, #experience, #formations, #projects {
    text-align: center;
    margin: 0px;
}
#formations {
    margin-bottom: 20px;
}
.feature-item {
    padding: 10px 20px;
}
.feature-pic {
    width: 200px;
    height: 200px;
}
#commit-list {
    margin: 0 20px;
}
.commit-group {
    text-align: left;
}
.commit-group h3::before {
    font-family:'Glyphicons Halflings';
    content: "\e081";
    margin-left: -25px;
    padding-right: 10px;
    font-size: 16px;
}
.commit-item {
    border: 1px solid #e5e5e5;
    padding: 10px;
    position: relative;
}
.commit-item h4 {
    margin: 5px 0 5px 0;
    font-size: 15px;
}
.commit-item p {
    font-size: 12px;
}
.commit-item::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -20px;
    z-index: 2;
    display: block;
    width: 2px;
    content: "";
    background-color: #e5e5e5;
}
.commit-item:hover {
    background-color: #f7fbfc;
}
.commit-picture {
    height: 50px;
    width: 50px;
    margin-left: 20px;
}
.feature-pic-wrapper {
    position: relative;
    width: 200px;
    margin: 0 auto;
}
.progress.on-image {
    width: 200px;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    border-radius: 0;
    height: 10px;
}
.feed-item {
    text-align: left;
}
.feed-item .headline {
    margin: 0;
}
.feed-item .date {
    text-align: right;
    color: #AAA;
}
.feed-item .comment {
    background-color: #f7fbfc;
    margin: 30px 20px;
    padding: 10px;
    border-radius: 10px;
}
.feed-item .comment .comment-picture {
    width: 30px;
    height: 30px;
    border-radius: 5px;
}
.feed-item .comment .comment-docs {
    margin-top: 10px;
}
.project {
    text-align: left;
    margin: 20px 0;
}
.project .project-header {
    min-height: 100px;
    position: relative;
}
.project .project-header h3 {
    color: white;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    display:inline-block;
    position: absolute;
    left: 10px;
    top: 30px;
}
.project .project-header p {
    color: white;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    display:inline-block;
    position: absolute;
    left: 10px;
    top: 10px;
}
.project .project-header button {
    width: auto!important;
    position: absolute;
    right: 10px;
    top: 10px;
}
.project .project-header button {
    width: 100px;
    margin-top: 20px;
}

#rot
{
    
    -webkit-animation: Floatingy 3s infinite ease-in-out;
}

@-webkit-keyframes Floatingy {
    from {
        -webkit-transform:translateY(0px);
    }
    65% {
        -webkit-transform:translateY(7px);
    }
    to {
        -webkit-transform: translateY(-0px);
    }
}